<section
	class="container"
	data-page="trusted"
	data-chain-id="820"
>
  <%= render BlockScoutWeb.Advertisement.TextAdView, "index.html", conn: @conn %>
		<iframe src="https://listing-callisto-network.netlify.app/explorer-iframe" style="width: 100%; height: 100vh;"></iframe>
</section>
